/****GENERAL***/

@font-face {
  font-family: "px_sans_nouveaux";
  src: url("./media/px_sans_nouveaux.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-family: "px_sans_nouveaux";
}

html {
  font-family: var(--fontRegular);
  font-size: 16px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  background: white;
  color: black;
  font-size: 18px;
  overflow-x: hidden;
}

/***FOOTER***/

.footer p {
  padding-top: 1.5em;
  font-family: "Khula", sans-serif;
}

.iconWrapper {
  align-self: center;
  margin-right: 5%;
  display: flex;
  align-content: center;
  flex-direction: row;
}

/****COLUMNES***/

/* .home-channel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 25vw;
  padding-left: 5vw;
}
.home-channel:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5vw;
  width: 5vw;
  transform-origin: bottom;
}
.home-channel:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5vw;
  width: 5vw;
} */

/*******FIRST SECTION *******/

.aboutMe {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 20s ease infinite;
  background-size: 400% 400%;

  height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/****************************SCROLLBAR***************************/
::-webkit-scrollbar {
  width: 0;
}

#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

#progressBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  /* height: 100%; */
  background: linear-gradient(to top, #008aff, #00ffe7);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

#progressBar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(10px);
}

#progressBar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(30px);
}

/*******************************PRUEBAS*************************/
.home-sky {
  /* titulos */
  position: relative;
  display: flex;
  height: 75vh;
  overflow: hidden;
}
.home-grid {
  height: 25vh;
}
.home-channel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 25vw;
  padding-left: 5vw;
}

.home-channel:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5vw;
  width: 5vw;
  transform-origin: bottom;
}
.home-channel:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5vw;
  width: 5vw;
}

.home-channel__title {
  font-size: 0.75em;
  font-weight: normal;
  color: var(--colorBgSubtle);
}
.home-channel__title a {
  color: inherit;
  text-decoration: none;
}
.home-channel__title a:hover,
.home-channel__title a:focus {
  outline: none;
  color: var(--colorPink);
  text-decoration: underline;
}
