/****GENERAL***/

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

html {
  font-family: var(--fontRegular);
  font-size: 16px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  background: white;
  color: black;
  font-size: 18px;
  overflow-x: hidden;
}

/***FOOTER***/

.footer p {
  padding-top: 1.5em;
  font-family: "Khula", sans-serif;
}

.iconWrapper {
  align-self: center;
  margin-right: 5%;
  display: flex;
  align-content: center;
  flex-direction: row;
}

/****COLUMNES***/

/* .home-channel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 25vw;
  padding-left: 5vw;
}
.home-channel:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5vw;
  width: 5vw;
  transform-origin: bottom;
}
.home-channel:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5vw;
  width: 5vw;
} */

/*******FIRST SECTION *******/

.aboutMe {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 20s ease infinite;
  background-size: 400% 400%;

  height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*******************************PRUEBAS*************************/
.home-sky {
  /* titulos */
  position: relative;
  display: flex;
  height: 75vh;
  overflow: hidden;
}
